.articles {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

.articles-header {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.articles--sort-by {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.articles--order-by {
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.articles--list {
  list-style: none;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media screen and (max-width: 500px) {
  .articles--sort-by {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .articles--order-by {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
