.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.articles-header {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.articles-sortby {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.articles-orderby {
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.articles-list {
  list-style: none;
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 10px;
  padding: 10px;
}

.articles-list-item h3 {
  /* color: red; */
  margin: 10px;
}

@media only screen and (max-width: 769px) {
  .articles-list {
    display: grid;
  }
}
