@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");

.nav {
  background-color: #15253f;
  /* margin: 10px; */
  padding: 20px;
}

.nav--link {
  text-decoration: none;
  background-color: #15253f;
  margin: 20px;
  padding: 10px;
  color: white;
  font-family: "Raleway", sans-serif;
}

.nav--link:hover {
  background: white;
  color: #15253f;
}

@media screen and (max-width: 500px) {
  .nav {
    background: #f9f9fb;
    display: grid;
    grid-template-rows: 2;
    padding: 10px;
    justify-content: center;
  }

  .hamburger-icon {
    background: #f9f9fb;
    grid-row-start: 1;
    grid-row-end: 2;
    background-clip: content-box;
    color: #15253f;
  }

  .hamburger-links {
    background-color: #15253f;;
    grid-row-start: 2;
    display: grid;
    grid-template-rows: 3;
    justify-content: center;
    position: absolute;
  }

  .hamburger-link-1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .hamburger-link-2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .hamburger-link-3 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
