.sort_by {
  margin: 10px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sort_by label {
  text-align: center;
  grid-row: 1;
  grid-column-start: 3;
}

.sort_by select {
  margin: 10px;
  grid-row: 2;
  grid-column-start: 3;
  width: 175px;
  display: block;
  margin: 10px auto;
}

@media screen and (max-width: 500px) {
  .sort_by {
    margin: 10px;
    display: inline-grid;
    grid-template-columns: 1fr;
  }
}
